*jar
.lein-deps-sum
.lein-plugins
.lein-repl-history
.nrepl-port
.repl
/.cljs_node_repl
/.lein-failures
/classes/
/examples/pokedex/node_modules
/examples/pokedex/resources/public/js/compiled
/examples/pokedex/target
/lib/
/node_modules
/out/
/target/
figwheel_server.log
pom.xml
