/* index.css */

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

body {
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* TODO: Inline? */
.preview-root:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.15);
}
